<table id="example2" class="table table-bordered table-hover fs-sm text-center">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Bank Name</th>
            <th>No.Rekening</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% for(let [i, val] of bank.entries()) { %>
        <tr>
            <td><%= i + 1 %></td>
            <td><%= val.name %></td>
            <td><%= val.bankName %></td>
            <td><%= val.noRekening %></td>
            <td>
                <form action="/bank/delete/<%= val._id %>?_method=DELETE" method="POST">
                    <a href="/bank/edit/<%= val._id %>" class="btn btn-sm btn-info"> <i class="fas fa-pencil-alt"></i> Edit</a>
                    <button class="btn btn-sm btn-danger"><i class="fas fa-trash"></i> Delete</button>
                </form>
            </td>
        </tr>
        <% } %>
    </tbody>
  </table>